html{
   
    overflow-x: hidden;
    
}

*{
    font-family: 'Gabarito', cursive;
}

body { 
    margin: 0; padding: 0;
    width:100%;
}

header{
    width:100%;
    background-color: #301014;
}

nav{
    display:flex;
    width:80%;
    justify-content: flex-start;
    padding-top:40px;
    padding-bottom:40px;
}

a{
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
    color:white;
    font-size: 17px;
    margin-right: 6%;
}

.logo{
    margin-left: 6%;
}

.container {
  position: relative;
  text-align: center;
  color: white;
}

.centered {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.centered h1{
    font-size:80px;
    inline-size: 500px;
}

.centered h3{
    font-family: 'Montserrat', sans-serif;
    font-size:26px;
    border:2px solid white;
    display:inline;
    padding:20px 30px;
    border-radius: 20px;
}

.centered h3:hover{
    cursor: pointer;
    color:black;
    background-color: white;
}

.location{
    margin-top: 5%;
    width: 90%;
    display:flex;
    justify-content: center;
    gap:10%;
    align-items: center;
    margin-bottom: 5%;
}

.location img{
    width:845px;
    height:568px;
}

.locText{
    display: flex;
    flex-direction: column;
}

.location .locText h2{
    font-size: 60px;
    line-height: 0;
}

.location .locText p{
    font-family: 'Montserrat', sans-serif;
    inline-size: 400px;
    display:inline-block;
    font-size: 18px;
    margin-left: 15px;
   
}

.scegliere{
    width: 90%;
    margin:0 auto;
    text-align: center;
}

.scegliere h2{
    font-size: 60px;
}

.scegliere p {
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    inline-size: 570px;
    margin: 0 auto;
}

.cert{
    display:flex;
    justify-content: space-around;
    padding: 4px;
    width:90%;
    margin: 0 auto;
    margin-top: 5%;
}

.cert img{
    width:233px;
    height:233px;
}

.rece{
    text-align: center;
    margin-top: 5%;
}

.rece h2{
    font-size: 60px;
}

.containerpersone {
  width: 80%;
  display: flex;
  justify-content: center;
  margin: auto;
  gap: 50px;
  margin-top: 5%;
}
.containerpersone .card {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;

}
.containerpersone .card img {
  border-radius: 50%;
  width: 90px;
  height: 90px;
}
 .containerpersone .card p {
  inline-size: 360px;
  font-size: 16px;
  font-family: 'Montserrat', sans-serif;
  color: black;
}
.containerpersone .card h3 {
  font-family: 'Gabarito', cursive;
  font-weight: 900;
  color: hsl(212deg, 27%, 19%);
  font-size: 16px;
}

footer{
    margin-top: 5%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #301014;
    color:white;
    font-family: 'Montserrat', sans-serif;
    padding:0 140px 0 140px;

}

footer h6{
    font-size: 16px;
    line-height: 0;
    margin-bottom: -5px;
}

footer .socials{
    display: flex;
    justify-content: space-around;
    gap:30px;
}

footer h5{
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
    line-height: 0;
}

footer .socials img:hover{
    cursor: pointer;
    transform: scale(1.2);
}